<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ArticleList</servlet-name>
        <servlet-class>Controller.ArticleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticle</servlet-name>
        <servlet-class>Controller.AddArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticle</servlet-name>
        <servlet-class>Controller.DeleteArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateArticle</servlet-name>
        <servlet-class>Controller.UpdateArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditArticle</servlet-name>
        <servlet-class>Controller.EditArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleList</servlet-name>
        <url-pattern>/ArticleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticle</servlet-name>
        <url-pattern>/AddArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticle</servlet-name>
        <url-pattern>/DeleteArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateArticle</servlet-name>
        <url-pattern>/UpdateArticle</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ArticleList</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>EditArticle</servlet-name>
        <url-pattern>/EditArticle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
